<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{web}}</p>
</div>

<article class="about">
  <h2>Sobre mi</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pellentesque erat libero, eu vulputate ante fringilla vitae. Etiam vitae rhoncus orci. Vivamus pharetra pharetra sollicitudin. Nullam ut convallis ante. Morbi vulputate pharetra lorem, et vehicula ante facilisis et. Suspendisse potenti. Cras in dictum libero. Vivamus nunc lectus, tincidunt ut porta ac, aliquet quis odio. Proin faucibus ultrices magna.
  </p>


</article>



